body {
    display: flex;
    justify-content: center;
}

nav>ul {
    display: flex;
    /* justify-content: space-between; */
    list-style: none;
    border:1px solid grey;
}

nav>ul>li{
    padding: 0.3em;
    border-right: 1px dotted purple;
}

nav a {
    color: #0066cc;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
    background-color: lightgrey;
}