@counter-style self-introduce {
    system: fixed;
    symbols: 👨‍💻 🐍 🗾;
    suffix: " ";
}

body {
    display: flex;
    justify-content: center;
}

nav>ul {
    display: flex;
    /* justify-content: space-between; */
    list-style: none;
    border:1px solid grey;
    background-color: antiquewhite;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 20px;
}

nav>ul>li{
    padding: 0.3em;
    border-right: 1px dotted purple;
}

nav a {
    color: #0066cc;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
    background-color: lightgrey;
}

ul.introducing {
    list-style-type: self-introduce;
}